name: Branch off

on:
  workflow_dispatch:

  workflow_call:
    inputs:
      version:
        description: 'Version to release with major.minor format (e.g., 2.99)'
        required: true
        type: string
    outputs:
      bump_version_pr_url:
        description: 'URL of the bump version PR'
        value: ${{ jobs.sync.outputs.bump_version_pr_url }}
      unstable_docs_pr_url:
        description: 'URL of the unstable docs PR'
        value: ${{ jobs.sync.outputs.unstable_docs_pr_url }}

env:
  PYTHON_VERSION: "3.9"

jobs:
  sync:
    runs-on: ubuntu-latest
    outputs:
      bump_version_pr_url: ${{ steps.bump-version-pr.outputs.pull-request-url }}
      unstable_docs_pr_url: ${{ steps.unstable-docs-pr.outputs.pull-request-url }}
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v5
        with:
          ref: main

      - name: Define all versions
        id: versions
        shell: bash
        # We only need `major.minor` in Readme so we cut the full version string to the first two tokens
        run: |
          # if provided, use the version input, otherwise use the version in VERSION.txt
          if [ -n "${{ inputs.version }}" ]; then
            echo "current_release_minor=${{ inputs.version }}" >> "$GITHUB_OUTPUT"
          else
            echo "current_release_minor=$(cut -d "." -f 1,2 < VERSION.txt)" >> "$GITHUB_OUTPUT"
          fi

      - name: Create release branch and bump version
        id: bump-version
        shell: bash
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"

          git checkout main

          # Create the release branch from the current unstable
          git checkout -b v${{ steps.versions.outputs.current_release_minor }}.x
          git push -u origin v${{ steps.versions.outputs.current_release_minor }}.x

          # Tag the base with X.Y.Z-rc0.
          # At this point VERSION.txt still contains the previous version and not
          # the one specified by the tag.
          # This is good though as we just need this to make reno work properly.
          NEW_VERSION=$(awk -F. '/[0-9]+\./{$2++;print}' OFS=. < VERSION.txt)
          echo "$NEW_VERSION" > VERSION.txt
          VERSION_TAG="v$NEW_VERSION"
          git tag "$VERSION_TAG" -m"$VERSION_TAG"
          git push --tags

          cat VERSION.txt
          echo "new_version=$NEW_VERSION" >> "$GITHUB_OUTPUT"

      - name: Create Pull Request to bump unstable version
        id: bump-version-pr
        uses: peter-evans/create-pull-request@v7
        with:
          # TODO: replace with Haystack Bot token once transferred to Haystack repo
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Update unstable version to ${{ steps.bump-version.outputs.new_version }}"
          branch: bump-version
          base: main
          title: "Bump unstable version"
          add-paths: |
            VERSION.txt
          body: |
            This PR bumps the unstable version for `v2.x`.
            The release branch `v${{ steps.versions.outputs.current_release_minor }}.x` has been correctly created.
            Verify documentation on Readme has been correctly updated before approving and merging this PR.
          labels: "ignore-for-release-notes"
          reviewers: "${{ github.actor }}"

      - uses: actions/setup-python@v6
        with:
          python-version: "${{ env.PYTHON_VERSION }}"

      - name: Install create_unstable_docs.py dependencies
        run: pip install requests

      # TODO: remove this once migration to Docusaurus is complete
      # - name: Release Readme version
      #   env:
      #     RDME_API_KEY: ${{ secrets.README_API_KEY }}
      #   run: |
      #     git checkout main
      #     python ./.github/utils/create_unstable_docs.py --new-version ${{ steps.versions.outputs.current_release_minor }}

      - name: Generate unstable docs for Docusaurus
        run: |
          git checkout main
          python ./.github/utils/create_unstable_docs_docusaurus.py --new-version ${{ steps.versions.outputs.current_release_minor }}

      - name: Create Pull Request with Docusaurus docs updates
        id: unstable-docs-pr
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          commit-message: "Create unstable docs for Haystack ${{ steps.versions.outputs.current_release_minor }}"
          branch: create-unstable-docs-${{ steps.versions.outputs.current_release_minor }}
          base: main
          title: "docs: create unstable docs for Haystack ${{ steps.versions.outputs.current_release_minor }}"
          add-paths: |
            docs-website
          body: |
            This PR creates the unstable docs for Haystack ${{ steps.versions.outputs.current_release_minor }}.
            It is expected to run during the branch-off process.
            You can inspect the docs preview (two unstable versions will be available) and merge it.
          reviewers: "${{ github.actor }}"
